/* RESET CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

[v-cloak] {
  display: none !important;
}

/* COMMON */
body {
  height: 100vh;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  background: linear-gradient(to bottom, #009788 20%, #d5dbdb 20%);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: block;
}

:root {
  --bg-green: #009788;
  --bg-grey: #d5dbdb;
  --bg-header: #eaeaea;
  --icon: #b1b1b1;
  --border: #d7d7d7;
}

.d-flex {
  display: flex;
  flex-direction: row;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.icon i {
  cursor: pointer;
}

/* app */
#app {
  width: 100%;
  height: 100%;
}

/* container Boolzapp */
.container {
  margin: auto;
  width: 90%;
  height: 90%;
  background-color: white;
}

/* left */

.left {
  width: 40%;
  overflow: hidden;
  border-right: 1px solid var(--border);
}

.right {
  width: 60%;
}

/* header */
header {
  padding: 10px 20px;
  background-color: var(--bg-header);
  position: relative;
}

.info-utente .d-flex-col {
  margin-left: 20px;
}

.img-utente {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.img-utente img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon {
  gap: 15px;
  font-size: 20px;
}

.icon i {
  display: block;
  color: var(--icon);
}

.cancella {
  background-color: white;
  position: absolute;
  right: 0;
  bottom: -100px;
  z-index: 20;
}

.cancella p {
  text-align: right;
  padding: 15px 20px;
}

.cancella p:last-child {
  color: red;
}

.cancella p:hover {
  cursor: pointer;
  background-color: var(--bg-header);
}

/* notifiche */
.notifiche {
  padding: 20px;
  background-color: #8edafc;
}

.notifiche a {
  text-decoration: underline;
  color: #457e9b;
}

.bell {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  margin-right: 10px;
}

.bell i {
  font-size: 20px;
  color: #8edafc;
}

/* ricerca */
.ricerca {
  background-color: #f9f9f9;
  padding: 10px;
}

.ricerca .cont-ricerca {
  height: 100%;
  border-radius: 0 5px 5px 0;
  border: 1px solid var(--border);
}

.ricerca .icon {
  height: 100%;
  width: 15%;
  padding: 10px 0;
  background-color: white;
}

.ricerca input {
  height: 100%;
  width: 85%;
  padding: 10px 10px;
  border: none;
  border-left: 1px solid var(--border);
  border-radius: 0 5px 5px 0;
}

/* contatti */
.contatti {
  flex-grow: 1;
  overflow-y: scroll;
}

.contatti .info-utente {
  padding: 10px 20px;
  border-top: 1px solid var(--border);
  transition: 0.5s;
}

.contatti .info-utente:hover {
  cursor: pointer;
  background-color: var(--bg-header);
}

.contatti ul li:first-child .info-utente {
  border: none;
}

.contatti .img-utente {
  width: 60px;
  height: 60px;
}

.contatti h3 {
  font-size: 16px;
}

.contatti .info-contatti {
  margin-left: 20px;
  width: 100%;
}

.contatti .ultimo-messaggio {
  color: var(--icon);
}

.contatti .ultimo-messaggio:last-child {
  display: block;
}

.contatti .ora p {
  margin-top: 5px;
}

/* right */

/* chat */
.chat {
  flex-grow: 1;
  overflow-y: scroll;
  background-image: url(/img/mine.jpg);
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 20px;
}

.utente {
  background-color: #d5f9ba;
  padding: 15px 60px 15px 20px;
  align-self: end;
  border-radius: 10px;
}

.interlocutore {
  align-self: start;
  padding: 15px 60px 15px 20px;
  background-color: white;
  border-radius: 10px;
}

.testo {
  position: relative;
  cursor: pointer;
}

.testo p:first-child {
  margin-bottom: 5px;
}

.data {
  font-size: 12px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: #bdb9bb;
}

.info-messaggio {
  position: absolute;
  right: 10px;
  top: 40px;
  z-index: 20;
  background-color: white;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.info-messaggio p {
  padding: 15px 20px;
}

.info-messaggio p:hover {
  background-color: var(--bg-header);
}

.chat span {
  position: absolute;
  right: 5px;
  top: 5px;
  color: var(--icon);
  display: none;
}

.chat .testo:hover span {
  display: block;
}

/* messaggio */
.messaggio {
  padding: 10px;
  background-color: var(--bg-header);
}

.messaggio input {
  width: 80%;
  padding: 0 20px;
  height: 50px;
  border: none;
  border-radius: 5px;
}

.messaggio .icon {
  font-size: 20px;
  width: 10%;
}
